- content_for(:header, "New Topic")

= form_for @topic, html: { class: 'form-horizontal' } do |f|
  = f.hidden_field :parent_id
  = f.hidden_field :parent_type
  = f.hidden_field :creator_id

  .form-group
    %label.col-sm-2.control-label Title

    .col-sm-10
      = f.text_field :title, class: 'form-control', placeholder: 'Title'

  .form-group
    %label.col-sm-2.control-label Body

    .col-sm-10
      = f.text_area :body, class: 'form-control', placeholder: 'Body'

  .form-group
    %label.col-sm-2.control-label Pic

    .col-sm-10
      =f.file_field :asset


  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit "New Thread", class: 'btn btn-default'