- content_for(:header, @story.title)

- if @story.uploads.present?
  - url = @story.uploads.first.url
  .row
    .container
      = image_tag url, class: 'img-rounded img-responsive'

.row
  .container
    %span Posted in
    = link_to @parent.name, polymorphic_path(@parent)

    %span by
    = link_to @creator.name, user_path(@creator)

.row
  .container
    = @story.body

.row{style: 'margin-top: 2em'}
  .container
    = link_to "Add a Comment", new_comment_path(comment: { parent_id: @story.id, parent_type: "Story" }), class: 'btn btn-primary btn-sml'

- if @comments.present?
  .container
    .row{style: 'margin-top: 2em'}
      %h4= pluralize(@comments.count, "Reply")

      - for comment in @comments
        - comment_creator = @users.detect{ |u| u.id == comment.creator_id }
        %hr
        = render partial: "shared/comment_stub", locals: { comment: comment, user: comment_creator }

