!!!
%html
  %head
    %title Fooball
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags


  %body
    = render partial: 'application/nav'

    .container
      %p.notice= notice
      %p.alert= alert

      - if content_for?(:header)
        .page-header
          %h2= yield :header

      = yield
