!!!
%html
  %head
    %title Fooball
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags


  %body
    = render partial: 'application/nav'

    .container.main
      - if notice
        .alert.alert-info.notice= notice
      - if alert
        .alert.alert-warning.notice= alert

      - if content_for?(:header)
        .page-header
          %h2= yield :header

      = yield

    .footyman{style: 'margin-top: 8em; height: 1px; background-color: #D2D2D2; border-top: 1px solid #C9E4BA'}
    .footyman{style: 'height: 1px; background-color: #F7E5CD'}
    .footyman{style: 'height: 1px; background-color: #E7B1AC'}
    .footyman{style: 'height: 1px; background-color: #AF8E99'}
    .footyman{style: 'height: 8em; background-color: #EEEEEE'}
